:root {
  --hex-width: 70px;
  --hex-between: 10px;
  --hex-height: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
  --hex-margin: calc(var(--hex-width) / 2);
  --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);
  --hex-transition: all .2s ease;
  --color-hex-default: #297a8e;
  --color-hex-hover: #3b3b3b;
}

body {
  background: black;
  margin: 0;
}

p {
  font-size: 20px;
  font-family: "Gemunu Libre", sans-serif;
}

h1, h2, h3, h4, h5, a {
  font-family: "Gemunu Libre", sans-serif;
}

h4 {
  color: #009473;
  font-size: 25px;
}

h3 {
  font-size: 25px;
}

.upper-menu {
  position: fixed;
  background: rgba(0, 26, 51, 0.6);
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  padding-right: 30px;
}
.upper-menu .section-shortcut:last-child {
  margin-right: 100px;
}
.upper-menu .section-shortcut {
  min-width: 100px;
  display: flex;
}
.upper-menu .section-shortcut > * {
  margin: auto;
}
.upper-menu .section-shortcut h4 {
  margin: auto 10px;
}
.upper-menu .section-shortcut p {
  color: white;
}

.about-line {
  border-top: 2px solid #e7e7e7;
  width: 50%;
  margin-bottom: 50px;
}

.about p, .about h3, .about h4 {
  background: -webkit-linear-gradient(45deg, #0e91af, #5ff2e6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
}
.about .show-more-button {
  background: #0e91af;
}
.about .pulse {
  background: #0e91af;
}
.about .scroll-button {
  border-bottom: 2px solid #42959e;
  background: transparent;
  border-radius: 0;
  text-align: left;
  width: 300px;
  height: 50px;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
@keyframes changeopacity {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.section-title {
  position: relative;
  font-size: 20px;
  grid-template-columns: 50px 200px 1fr;
  text-align: center;
  width: 1000px;
  margin: auto;
}
.section-title h1 {
  text-align: left;
  margin: 50px;
  font-size: 50px;
  text-shadow: none;
}

.main-container {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  margin: auto;
}
.main-container .section {
  min-height: 700px;
  width: 1000px;
  margin: auto;
}
.main-container .section .section-title {
  text-align: left;
  width: 900px;
  margin: auto;
}
.main-container .section .section-title > * {
  margin: auto;
}
.main-container .section .section-title h3, .main-container .section .section-title h4, .main-container .section .section-title p {
  color: white;
}
.main-container .section .section-title .line {
  border-top: 2px solid black;
  width: 100%;
  height: 3px;
  margin: auto;
}
.main-container .section .section-about {
  display: grid;
  padding: 50px;
  width: 900px;
  margin: auto;
  height: 400px;
  margin-bottom: 200px;
  grid-template-columns: 3fr 1fr;
}
.main-container .section .section-about .about p {
  font-family: Arial, Helvetica, sans-serif;
}
.main-container .section .section-about .about h4 {
  margin-bottom: 0;
}
.main-container .section .section-about .about h3 {
  margin-top: 20px;
}
.main-container .section .section-about .image-section {
  width: 400px;
  height: 500px;
  position: relative;
  animation: 2s ease-out 0s 1 changeopacity;
}
.main-container .section .section-about .image-section .image-background {
  border: 2px solid #1e587a;
  box-shadow: 2px 18px 70px 0 black;
  position: absolute;
  top: -20px;
  left: -20px;
  height: 100%;
  width: 100%;
}
.main-container .section .section-about .image-section .my-image {
  box-shadow: 2px 18px 70px 0 black;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.main-container .green-section {
  background: #009473;
  width: 100%;
}
.main-container .green-section .section-content {
  margin: 50px auto;
  text-align: center;
}
.main-container .green-section .section-title {
  color: black;
  margin: auto;
  width: 1000px;
  text-align: center;
}
.main-container .green-section .section-title h4 {
  color: black;
}
.main-container .green-section .section-title h1 {
  margin: 50px;
}
.main-container .green-section .section-title p {
  color: black;
}
.main-container .green-section .section-title .line {
  border-top: 2px solid black;
}
.main-container .image {
  z-index: 4;
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

.books {
  width: 1000px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  z-index: 1;
}
.books .book {
  max-width: 200px;
}

@keyframes moveGradient {
  0% {
    color: white;
  }
  50% {
    color: #5c6c7b;
  }
  100% {
    color: white;
  }
}
.works {
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin: auto;
}
.works .work {
  height: 500px;
  width: 300px;
  background: #e7e7e7;
  border: 1px solid lightgray;
}

.wrapper {
  width: 100%;
  height: 600px;
  position: relative;
  margin: 3% auto;
  box-shadow: 2px 18px 70px 0 #2c2c2c;
  overflow: hidden;
}

.work-text {
  width: 100%;
  height: 100%;
  background-image: url("../svg/blurry-gradient-haikei.svg");
  background-size: cover;
  background-position: top;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  padding: 6%;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.text {
  margin-left: 20px;
  color: #fff;
  display: none;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.3s;
}
.text a, .text a:visited {
  font-size: 36px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: block;
}
.text hr {
  width: 10%;
  float: left;
  background-color: #fff;
  font-size: 16px;
}
.text input {
  margin-top: 30px;
  height: 40px;
  width: 300px;
  border-radius: 2px;
  border: none;
  background-color: #444;
  opacity: 0.6;
  outline: none;
  color: #fff;
  padding-left: 10px;
}
.text input[type=text] {
  margin-top: 60px;
}
.text button {
  height: 40px;
  width: 140px;
  outline: none;
}
.text .login-btn {
  background: #fff;
  border: none;
  border-radius: 2px;
  color: #696a86;
}
.text .show-less-button {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 20px;
  color: #fff;
  margin-top: 20px;
}

.call-text {
  background-color: #fff;
  width: auto;
  height: 100%;
  position: absolute;
  bottom: 0;
  padding: 150px 10% 10%;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.call-text h3 {
  font-size: 25px;
  margin-bottom: 0;
  margin-top: 50px;
}
.call-text .technologies {
  color: white;
  margin: 0;
  max-width: 300px;
  z-index: 5;
}
.call-text h1 {
  font-size: 42px;
  margin-top: -30%;
  color: #dfdfdf;
  z-index: 5;
}
.call-text h1 span {
  color: #333;
  font-weight: bolder;
}

button, .show-less-button {
  height: 40px;
  width: 180px;
  border: none;
  border-radius: 20px;
  background: #336599;
  color: #fff;
  font-weight: bolder;
  margin-bottom: 20px;
  cursor: pointer;
  outline: none;
}

.work-button {
  height: 40px;
  width: 180px;
  border: none;
  border-radius: 20px;
  background: #336599;
  color: #fff;
  font-weight: bolder;
  margin-top: 30px;
  cursor: pointer;
  outline: none;
}

.about-work {
  padding: 0 30px;
}

.show-hide {
  display: block;
}

.expand {
  transform: translateY(550px);
}

.pulse {
  animation: pulse 1.2s ease infinite;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: #336599;
  border-radius: 20px;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}
.show-more-button {
  position: relative;
}

.fa-chevron-down:before, .fa-chevron-right:before {
  animation: moveGradient 15s ease infinite;
  color: white;
}

.fa-chevron-circle-down:before {
  color: white;
}

.show-text > * {
  margin-left: 6px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px auto 80px;
}
.menu li {
  width: 125px;
  height: 50px;
  text-align: center;
}
.menu li a {
  font-size: 24px;
  color: #777;
  text-decoration: none;
  transition: color 0.45s;
}
.menu li a:hover {
  color: #297a8e;
}
.menu li:not(:last-child) {
  margin-right: 30px;
}

.hexagon-container {
  display: grid;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width);
  grid-auto-rows: calc(var(--hex-width) - 14.435px);
  grid-gap: var(--hex-between) var(--hex-between);
  padding-bottom: var(--hex-border);
}

.hexagon {
  align-items: center;
  background-color: var(--color-hex-default);
  cursor: pointer;
  display: flex;
  fill: white;
  color: white;
  height: var(--hex-height);
  justify-content: center;
  margin: var(--hex-border) 0;
  position: relative;
  transition: var(--hex-transition);
  width: var(--hex-width);
}

.hexagon::after,
.hexagon::before {
  border-left: var(--hex-margin) solid transparent;
  border-right: var(--hex-margin) solid transparent;
  content: "";
  left: 0;
  position: absolute;
  transition: var(--hex-transition);
  width: 0;
}

.hexagon::after {
  border-top: var(--hex-border) solid var(--color-hex-default);
  top: 100%;
  width: 0;
}

.hexagon::before {
  border-bottom: var(--hex-border) solid var(--color-hex-default);
  bottom: 100%;
}

.hexagon:hover {
  background-color: var(--color-hex-hover);
}

.hexagon:hover::after,
.hexagon:hover::before {
  border-top-color: var(--color-hex-hover);
  border-bottom-color: var(--color-hex-hover);
}

.hexagon:nth-child(8n+5),
.hexagon:nth-child(8n+6),
.hexagon:nth-child(8n+7),
.hexagon:nth-child(8n+8) {
  margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
}

.hexagon > svg {
  height: 75%;
  transition: var(--hex-transition);
}

.first-section {
  position: absolute;
  margin: auto;
  width: 100% !important;
}

.education-container {
  display: grid;
  grid-template-columns: 280px 1fr;
  background: none;
  grid-gap: 50px;
  max-width: 50%;
  margin: 0 auto;
  min-width: 1000px;
}
.education-container .box-content {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}
.education-container .left-box {
  background: rgba(0, 26, 51, 0.6);
  box-shadow: 2px 18px 70px 0 #2c2c2c;
  margin: auto 0;
  height: 300px;
  width: 500px;
  color: white;
  display: flex;
  z-index: 2;
}
.education-container .left-box > * {
  margin: auto;
}
.education-container .left-box .fa {
  margin-right: 55%;
  font-size: 60px;
}
.education-container .right-box {
  box-shadow: 2px 18px 70px 0 #2c2c2c;
  background: #e7e7e7;
  margin-right: 300px;
  margin-left: -100px;
  height: 300px;
  display: flex;
  flex-direction: column;
  transition: margin 0.5s ease-in, max-width 2s ease-in;
  -webkit-transition: margin 0.5s ease-in, max-width 2s ease-in;
  -moz-transition: margin 0.5s ease-in, max-width 2s ease-in;
  -o-transition: margin 0.5s ease-in, max-width 2s ease-in;
}
.education-container .right-box .studies {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}
.education-container .right-box > * {
  padding: 10px 30px 0;
}
.education-container .right-box p {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
.education-container .right-box .date {
  font-family: "Gemunu Libre", sans-serif;
  font-size: 18px;
  color: gray;
  margin: auto 50px auto 0;
}
.education-container .right-box .box-header h3 {
  margin-bottom: 20px;
}

.grey-container {
  background: #e7e7e7;
  color: black;
}
.grey-container .section .section-title {
  color: black !important;
  margin-top: 50px;
}
.grey-container .section .section-title .line {
  margin: 50px;
}
.grey-container .section .section-title h3, .grey-container .section .section-title h4 {
  color: black !important;
}

.white-container {
  background: white;
  color: black;
}
.white-container .section .section-title {
  color: black !important;
  margin-top: 50px;
  text-align: left;
}
.white-container .section .section-title h1 {
  margin: 50px;
  font-size: 50px;
  text-shadow: none;
}
.white-container .section .section-title h3, .white-container .section .section-title h4 {
  color: black !important;
}

.mountains {
  background: #e7e7e7;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.mountains2 {
  display: none;
}

.mountains {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background: #009473;
}

.mountains::before {
  border-bottom: 3px solid #009473;
  content: "";
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -300px;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../svg/layered-peaks-haikei.svg");
}

.shapedividers_com-5945 {
  margin-top: 50px;
  height: 100px;
  background: #e7e7e7;
  overflow: hidden;
  position: relative;
}

.shapedividers_com-5945::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -1px;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 100% 90px;
  background-position: 50% 0;
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 1" preserveAspectRatio="none"><path d="M0 0h10L5 1z" fill="%23000000"/></svg>');
}

.shapedividers_com-2193 {
  margin-top: 50px;
  height: 100px;
  background: white;
  overflow: hidden;
  position: relative;
}

.shapedividers_com-2193::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -1px;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 100% 90px;
  background-position: 50% 0;
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 1" preserveAspectRatio="none"><path d="M0 0h10L5 1z" fill="%23e7e7e7"/></svg>');
}

@media (max-width: 1300px) {
  .education-container {
    min-width: 0;
    grid-template-columns: 200px 1fr;
    max-width: 80%;
  }
  .education-container .left-box {
    width: 350px;
  }
}
@media (max-width: 768px) {
  .education-container .right-box {
    height: 420px;
    width: 100%;
    margin-bottom: 50px;
  }

  .education-container .left-box {
    box-shadow: 1px 2px 17px 0 #2c2c2c;
    height: 100px;
    width: 200px;
    margin: revert;
  }

  .education-container {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 0 1fr;
    margin: 30px;
    width: auto;
    max-width: revert;
  }

  .education-container .right-box {
    margin-bottom: 50px;
    margin-right: 0;
    margin-left: 0;
    max-width: revert;
  }

  .works {
    width: auto;
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
  .works .wrapper {
    margin: auto;
    width: 100%;
    height: 500px;
  }
  .works .wrapper .work-text {
    transition: all 1s ease-in-out;
    top: 0;
  }

  .fa-chevron-right:before {
    display: none;
  }

  .main-container .section {
    min-height: 700px;
    width: auto;
    margin: 0;
    padding-bottom: 100px;
  }

  .books {
    width: auto;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 200px 200px;
    z-index: 1;
    justify-items: center;
    grid-gap: 0;
  }
  .books .book {
    max-width: 180px;
    margin: 10px;
  }

  .section-content {
    margin: 100px 0;
  }

  .white-container .section .section-title {
    margin-top: auto;
    text-align: center;
  }

  .main-container .section .section-title {
    text-align: center;
    width: auto;
    margin: auto;
  }

  .section-title {
    position: relative;
    font-size: 20px;
    grid-template-columns: 50px 200px 1fr;
    text-align: center;
    width: auto;
    margin: auto;
  }
  .section-title h1 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .section-title h1 {
    text-align: center;
  }

  .first-section {
    position: absolute;
    margin: auto;
    width: auto !important;
  }

  .mountains2 {
    display: block;
    content: "";
    margin-top: -400px;
    z-index: 3;
    height: 500px;
    pointer-events: none;
    background-repeat: no-repeat;
    background-image: url("../svg/layered-peaks-haikei.svg");
  }

  .last-container {
    width: auto;
  }

  .hexagon-container {
    width: 300px;
    text-align: center;
    margin: auto;
  }

  .main-container {
    height: 1000px;
    width: 100%;
  }

  .main-container .section .section-about {
    width: auto;
    height: 900px;
    grid-template-columns: 1fr;
    grid-template-areas: "image" "content";
  }
  .main-container .section .section-about .about {
    z-index: 5;
  }
  .main-container .section .section-about h4 {
    text-align: center;
    margin-bottom: 5px;
  }
  .main-container .section .section-about h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .main-container .section .section-about .image-section {
    margin: auto;
    width: 300px;
    grid-area: image;
    height: 400px;
  }

  .main-container .image {
    width: 100%;
  }

  .first-section {
    background: black;
  }

  .menu {
    padding: 0 10px;
    margin: 30px auto 0;
  }
  .menu li {
    width: auto;
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  .call-text {
    padding: 150px 10% 5%;
  }

  .shapedividers_com-2193::before {
    background-size: 100% 90px;
    background-position: 50% 0;
  }

  .shapedividers_com-5945::before {
    background-size: 100% 90px;
    background-position: 50% 0%;
  }
}
@media (min-width: 1025px) {
  .shapedividers_com-5945::before {
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 234% 100px;
    background-position: 0% 0%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 1" preserveAspectRatio="none"><path d="M0 0h10L5 1z" fill="%23000000"/></svg>');
  }

  .shapedividers_com-2193::before {
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 246% 147px;
    background-position: 100% 0;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 1" preserveAspectRatio="none"><path d="M0 0h10L5 1z" fill="%23e7e7e7"/></svg>');
  }
}
@media (min-width: 2100px) {
  .shapedividers_com-5945::before {
    background-size: 234% calc(2vw + 100px);
  }

  .shapedividers_com-2193::before {
    background-size: 246% calc(2vw + 147px);
  }

  .main-container .section-about {
    margin-top: 120px !important;
  }

  .menu li a {
    font-size: 30px;
  }
  .menu li:not(:last-child) {
    margin-right: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
